/** @format */

.card_small {
  position: relative;
  height: 350px;
  max-width: 250px;
  background-position: center;
  background-size: cover;
  border-radius: var(--half-border-radius);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border: 1px solid white;
}

.card_large {
  border-radius: var(--half-border-radius);
  justify-content: center;
  display: flex;
  border: 1px solid var(--white-half);
  flex-direction: row;
}

.card_layout {
  background: linear-gradient(
    0deg,
    rgba(1, 1, 1, 1),
    rgba(1, 1, 1, 0.8),
    rgba(1, 1, 1, 0)
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
  color: white;
  max-width: 100%;
}

.card_large .card_layout {
  min-height: fit-content;
  max-height: fit-content;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: transparent;
}

.card_small .card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 85%;
}

.card_header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card_header span:nth-child(2) {
  color: var(--white-half);
}

.card_large .card_detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}

.card_small .card_detail {
  height: 50%;
  overflow: hidden;
}

.card_content h1 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 1.2em;
  font-size: 1.2em;
}

.card_large .card_content h1 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 400px;
  overflow-x: hidden;
  min-height: 1.2em;
  font-size: 1.2em;
  margin: 0;
}

.card_content p {
  text-wrap: stable;
  overflow: hidden;
  text-align: justify;
  font-size: 0.85em;
  color: var(--white-half);
}

.card_large .card_content p {
  margin: 0;
}

.card_status {
  background-color: var(--black-half);
  padding: 5px 15px;
  border-radius: var(--half-border-radius);
  font-size: 0.85em;
}

.card_large .card_status {
  color: white;
  border: 1px solid var(--white-half);
  background-color: transparent;
}

.card_cta {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
}

.card_small .card_cta {
  justify-content: center;
  gap: 15px;
}

.card_cta button {
  padding: 5px 25px;
}

.card_small .card_cta button {
  padding: 5px;
}

.card_large img {
  border-top-left-radius: var(--half-border-radius);
  border-bottom-left-radius: var(--half-border-radius);
}
