/** @format */

.filter_layout {
  width: 100%;
}

.filter_container {
  width: fit-content;
  min-height: 20px;
  display: flex;
  gap: 5px;
  background-color: var(--white-fade);
  padding: 5px;
  border-radius: var(--border-radius);
}

.filter_item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 1em;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  gap: 15px;
}

.filter_item:hover {
  background-color: var(--white-half);
}

.active {
  background-color: var(--black);
  font-weight: 700;
}
