/** @format */

.layout {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
}

.form_login {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 25vw;
}

.form_login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.show_pass_btn {
  padding: 10px 15px;
  border-radius: 0 !important;
  background-color: transparent;
  color: var(--red) !important;
  border: none;
  border-bottom: 2px solid var(--red) !important;
}

.form_login img {
  margin-bottom: 50px;
}

.show_pass_btn:hover {
  color: white !important;
}
