/** @format */

:root {
  --max-width: 1100px;
  --border-radius: 10px;
  --half-border-radius: 5px;
  --black: rgb(9, 9, 11);
  --black-fade: rgba(9, 9, 11, 0.2);
  --black-half: rgba(9, 9, 11, 0.5);
  --white-fade: rgba(255, 255, 255, 0.2);
  --white-half: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
}

.row {
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

html,
body {
  background-color: var(--black) !important;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 14px;
  color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

main {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
}

.layout,
.layout-404 {
  color: white !important;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 75vw;
  max-width: 75vw;
  flex-direction: column;
  gap: 20px;
  color: var(--black);
  padding: 5% 0;
}

.layout-404 {
  gap: 0;
  justify-content: center;
}

.layout-home {
  width: 100%;
  height: 100vh;
}

.icon {
  /* color: white; */
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  color: var(--red);
}

input {
  border-radius: var(--half-border-radius) !important;
  border: 1px solid var(--white-half) !important;
  box-shadow: none;
  background-color: transparent !important;
  color: var(--white-half) !important;
}

input:focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.85) !important;
}

input::placeholder {
  color: white !important;
}

button {
  color: var(--black) !important;
  background-color: white;
  border: none;
  padding: 5px;
  border-radius: var(--half-border-radius) !important;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}

.secondary {
  border: none;
  background-color: transparent;
  color: var(--white) !important;
}

.thirdy {
  background-color: var(--white-fade);
  color: white !important;
}

.fourthy {
  color: white !important;
  background-color: transparent;
  border: 1px solid var(--white-half);
}

.add-btn {
  font-size: 0.9em;
  border-radius: var(--half-border-radius) !important;
  padding: 5px;
  width: fit-content;
  color: var(--black) !important;
}

button:hover {
  background-color: var(--white-half);
  color: white !important;
}

.secondary:hover {
  color: white !important;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.section-container {
  width: 100%;
  border: 1px solid var(--white-half);
  border-radius: var(--half-border-radius);
}

.section-header {
  width: 100%;
  padding: 10px 0;
}

.card-cta {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.horizontal-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  justify-content: space-between;
}

.vertical-container {
  flex-direction: column;
  width: 100%;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 100px !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
